.gitignore
data
model_cnn1.h5
output.png
some results Nour

normal.png
aug.txt

pneumonia.png
xception_just_one_layer_model_checkpoint.h5
xception_just_one_layer.ipynb
xception_oversampling_model_checkpoint.h5
xception_oversampling.ipynb
autokeras_transfer_learning/image_classifier/graph
autokeras_transfer_learning/transfer_learning/graph
